<section class="section">
  <div class="container">
    <div class="block buttons">
      <%= link_to t("add"), new_admin_event_path, class: "button is-primary" %>
    </div>
    <h1 class="title"><%= Event.model_name.human(count: 42) %></h1>
    <table class="table">
      <thead>
        <tr>
          <th><%= Event.human_attribute_name :title %></th>
          <th><%= Event.human_attribute_name :location %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event %></td>
            <td><%= event.location %></td>
            <td>
              <div class="buttons">
                <%= link_to t("edit"), edit_admin_event_path(event), class: "button is-small" %>
                <%= link_to t("delete"), admin_event_path(event), data: {confirm: t("confirm_delete")}, method: :delete, class: "button is-small is-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
